@inherits LayoutComponentBase


<div class="page">
    <NavMenu />
    <div class="container">
        @Body
    </div>
    <footer class="bg-dark text-white text-center p-3 mt-4">
        <p>&copy; 2024 Meu Portfólio. Todos os direitos reservados.</p>
    </footer>
</div>
