@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1b2f;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

.contacts-container {
    text-align: center;
    color: #fff;
}

    .contacts-container h1 {
        font-size: 2.5rem;
        color: #000;
        display: inline-block;
        margin-bottom: 30px;
        border-bottom: 2px solid #fff;
    }

.contacts {
    display: flex;
    /*justify-content: center;*/
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6vw;
}

.icon-diamond {
    width: 100px;
    height: 100px;
    /*background-color: #22223b;*/
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    transition: all 0.3s ease;
    border: 2px solid transparent;
    text-decoration: none;
}

    .icon-diamond i {
        font-size: 2.5rem;
        border-color: dimgray;
        border:10px;
        color: rgb(40, 175, 176);
        transform: rotate(-45deg); /* Ajusta a posição do ícone dentro do losango */
    }

    .icon-diamond:hover {
        border-color: rgb(40, 175, 176);
        transform: rotate(405deg) scale(1.1);
    }

.contact-item h2 {
    font-size: 1rem;
    color: #000;
    margin: 25px 0 5px;
}

.contact-item p {
    font-size: 0.9rem;
    color: #c7c7c7;
    margin: 0;
}
