.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cb{
    border-color: rgb(40, 175, 176);
    border-width: 2px;
}

.p-img {
    height: -webkit-fill-available;
}