html {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

x {
    color: rgb(40, 175, 176);
}

.dNav {
    min-height: 100vh;
    align-content: center;
    margin-bottom: 25px;
}

.break-text {
    white-space: pre-wrap; 
}