<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="contacts-container">
    <div style="justify-self: left;">
        <h1><x>#</x>contatos</h1>
    </div>
    <div class="contacts">
        <div class="contact-item">
            <a href="https://www.linkedin.com/in/kesley-juan/" target="_blank" class="icon-diamond">
                <i class="fab fa-linkedin"></i>
            </a>
            <h2>Linkedin</h2>
            <p>kesley-juan</p>
        </div>
        <div class="contact-item">
            <a href="https://github.com/qwe-rtyui" target="_blank" class="icon-diamond">
                <i class="fab fa-github"></i>
            </a>
            <h2>Github</h2>
            <p>qwe-rtyui</p>
        </div>
        <div class="contact-item">
            <a href="https://discord.com" target="_blank" class="icon-diamond">
                <i class="fab fa-discord"></i>
            </a>
            <h2>Discord</h2>
            <p>.ksljn</p>
        </div>
        <div class="contact-item">
            <a href="tel:+5511950629689" class="icon-diamond">
                <i class="fas fa-phone"></i>
            </a>
            <h2>Telefone</h2>
            <p>(11) 95062-9689</p>
        </div>
        <div class="contact-item">
            <a href="mailto:kesleyjuan.dev@gmail.com" class="icon-diamond">
                <i class="fas fa-envelope"></i>
            </a>
            <h2>E-mail</h2>
            <p>kesleyjuan.dev@gmail.com</p>
        </div>
    </div>
</div>
