<div class="row-layout">
    <div class="text-content">
        <span class="text-title"><x>Kesley Juan</x></span>
        <span class="text-subtitle">Desenvolvedor .NET</span>
        <a class="btn btn-outline-success" href="#">Download CV</a>
    </div>
    <div class="image-content">
        <img src="images/fotos/_2.png" alt="Foto do desenvolvedor">
    </div>
</div>
