@page "/"
<PageTitle>Index</PageTitle>

<div>
    <div class="dNav" id="home">
        <Home />
    </div>

    <div class="dNav" id="about" style="justify-items: center;">
        <About />
    </div>

    <div class="dNav" id="skills">
        <Skills />
    </div>

    <div class="dNav" id="projects">
        <Projects />
    </div>

    <div class="dNav" id="contacts">
        <Contacts />
    </div>
</div>
