<div class="card-container">
    @for (int i = 0; i < 7; i++)
    {
        <div class="card mb-3 cb" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://qwe-rtyui.github.io/wasmPortfolio/images/gflixhome.png" class="img-fluid p-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Gifflix</h5>
                        <p class="card-text">Gifflix é uma plataforma para os amantes de cinema que querem relembrar as
                            cenas
                            mais marcantes em poucos segundos!</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        <a class="btn btn-secondary" href="#" target="_blank">Ver Repositório</a>
                        <a class="btn btn-success" # href="#" target="_blank">Abrir Deploy</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@* <div class="card-container">
    <div style="justify-self: left;">
        <h1><x>#</x>projetos</h1>
    </div>
    <div class="container">
        <div class="row col-md-12" style="text-align: -webkit-center;">
            <!-- Card 1 -->
            <div class="col-6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/fotos/_2.png" alt="Projeto 2">
                        <div class="card-overlay">
                            <div class="icons">
                                <i class="fas fa-mobile-alt"></i> <!-- Ícone Mobile -->
                                <i class="fas fa-cloud"></i> <!-- Ícone Cloud -->
                            </div>
                        </div>
                    </div>
                    <div class="card-info">
                        <h3>Projeto 2</h3>
                        <p>Outro projeto interessante que merece destaque.</p>
                        <a href="#" target="_blank">Ver Repositório</a>
                        <a href="#" target="_blank">Abrir Deploy</a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div> *@