

<div class="card-container">
    <div style="justify-self: left;">
        <h1><x>#</x>projetos</h1>
    </div>
    <div class="container">
        <div class="row col-md-12" style="text-align: -webkit-center;">
            <!-- Card 1 -->
            <div class="col-6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/fotos/_2.png" alt="Projeto 2">
                        <div class="card-overlay">
                            <div class="icons">
                                <i class="fas fa-mobile-alt"></i> <!-- Ícone Mobile -->
                                <i class="fas fa-cloud"></i> <!-- Ícone Cloud -->
                            </div>
                        </div>
                    </div>
                    <div class="card-info">
                        <h3>Projeto 2</h3>
                        <p>Outro projeto interessante que merece destaque.</p>
                        <a href="#" target="_blank">Ver Repositório</a>
                        <a href="#" target="_blank">Abrir Deploy</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/fotos/_2.png" alt="Projeto 2">
                        <div class="card-overlay">
                            <div class="icons">
                                <i class="fas fa-mobile-alt"></i> <!-- Ícone Mobile -->
                                <i class="fas fa-cloud"></i> <!-- Ícone Cloud -->
                            </div>
                        </div>
                    </div>
                    <div class="card-info">
                        <h3>Projeto 2</h3>
                        <p>Outro projeto interessante que merece destaque.</p>
                        <a href="#" target="_blank">Ver Repositório</a>
                        <a href="#" target="_blank">Abrir Deploy</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/gflixhome.png" alt="Projeto 2">
                        <div class="card-overlay">
                            <div class="icons">
                                <i class="fas fa-mobile-alt"></i> <!-- Ícone Mobile -->
                                <i class="fas fa-cloud"></i> <!-- Ícone Cloud -->
                            </div>
                        </div>
                    </div>
                    <div class="card-info">
                        <h3>Projeto 2</h3>
                        <p>Outro projeto interessante que merece destaque.</p>
                        <a href="#" target="_blank">Ver Repositório</a>
                        <a href="#" target="_blank">Abrir Deploy</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/fotos/_2.png" alt="Projeto 2">
                        <div class="card-overlay">
                            <div class="icons">
                                <i class="fas fa-mobile-alt"></i> <!-- Ícone Mobile -->
                                <i class="fas fa-cloud"></i> <!-- Ícone Cloud -->
                            </div>
                        </div>
                    </div>
                    <div class="card-info">
                        <h3>Projeto 2</h3>
                        <p>Outro projeto interessante que merece destaque.</p>
                        <a href="#" target="_blank">Ver Repositório</a>
                        <a href="#" target="_blank">Abrir Deploy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>