<div class="bdy">
    <div style="justify-self: left;">
        <h1><x>#</x>habilidades</h1>
    </div>
    <div class="skills-container">
        <div class="skills row">
            <div class="category col-12 col-sm-12 col-md-6">
                <h2>Frontend</h2>
                <div class="skills-grid">
                    <div class="skill-item">
                        <i class="fab fa-html5"></i>
                        <p>HTML</p>
                    </div>
                    <div class="skill-item">
                        <i class="fab fa-css3-alt"></i>
                        <p>CSS</p>
                    </div> 
                    <div class="skill-item">
                        <i class="fab fa-js"></i>
                        <p>JavaScript</p>
                    </div>
                    <div class="skill-item">
                        <i class="fab fa-js-square"></i>
                        <p>TypeScript</p>
                    </div>
                    <div class="skill-item">
                        <i class="fab fa-angular"></i>
                        <p>Blazor</p>
                    </div>
                    <div class="skill-item">
                        <i class="fab fa-angular"></i>
                        <p>Angular</p>
                    </div>
                </div>
            </div>
            <div class="category col-12 col-sm-12 col-md-6">
                <h2>Backend</h2>
                <div class="skills-grid">
                    <div class="skill-item">
                        <i class="fab fa-node"></i>
                        <p>.Net</p>
                    </div>
                    <div class="skill-item">
                        <i class="fab fa-node"></i>
                        <p>C#</p>
                    </div>                    
                    <div class="skill-item">
                        <i class="fas fa-database"></i>
                        <p>MySQL</p>
                    </div>
                    <div class="skill-item">
                        <i class="fab fa-docker"></i>
                        <p>Docker</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>